@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.App {
	box-sizing: border-box;
	text-align: center;
	margin-bottom: 5%;
}
.Header {
	font-family: 'Permanent Marker', cursive;
	background: rgba(255, 255, 255, 0.3);
	color: #443e3e;
	text-shadow: 1px 1px 5px #fff;
	margin-top: 5%;
	padding: 2% 0;
	h1,
	h2 {
		margin: 0;
		padding: 0;
	}
}
