.character-card-container {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
	margin-top: 1%;
	font-family: 'Permanent Marker', cursive;

	.character-card {
		background: rgba(255, 255, 255, 0.6);
		width: 50%;
		margin: 1% 0;
		padding: 1%;

		p {
			margin: 0;
			padding: 0;
		}
	}

	p.character-name {
		color: red;
		font-size: 1.25rem;
	}
}
